body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}
input{
    color: azure;
    padding: 17px;
    outline: none;
    font-size: 30px;
    border-radius: 25%;
}
.num{
    height: 67px;
    width: 64px;
    box-shadow: 10px 5px 5px rgb(69, 117, 94)
}
.text{
    width: 160px;
    height: 26px;
    
}
.main{
    display: inline-block;
}
.maincolor{
   background-color: black; 
}
.color{
    background-color: chartreuse;
}
.displaycolor{
background-color: gray;
color: whitesmoke;
}